{% extends 'base.html' %}
{% load static %}
    
{% block title %}
    Contact
{% endblock %}

{% block content %}
<br/><br/>
<div class="container">
    <h1 class="text-center">Contact Me:</h1>
</div>
<hr>
<ul class="text-center" style="list-style-type: none; font-size: 150%;">
    <p>Email: <a href="mailto:whiteceric@gmail.com">whiteceric@gmail.com</a></p>
    <p>Twitter: <a href="https://twitter.com/camwhite271">@camwhite271</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/camwhite1301/">camwhite1301</a></p>
</ul>


{% endblock %}
    