.ProjectListItem {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;

  padding: 10px;
  border-radius: 14px;
  border: 1px solid #b5b5b5;
  max-width: 1500px;
  align: center;
}

.ProjectListItem:hover {
  background-color: #eee;
}

.project-item-container {
  padding-left: 50px;
  padding-right: 50px;
}

.project-item-link:hover {
  text-decoration: inherit;
}

.project-item-top-row {
  display: grid;
  grid-template-columns: 25% 75%;
}

.project-title {
  font-size: 32px;
}

.project-title:hover {
  text-decoration: underline;
}

.dates-text {
  text-align: right;
  color: #8f8f8f;
}

.summary-text {
  color: black;
}
