.NavBar {
}

.navbar-custom-bg {
  background-color: #3259a8;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar-link-item {
  color: white;
  font-size: 18pt;
}

.navbar-link-item:hover {
  color: white;
  text-decoration: none;
}
