.NavBar {
  background-color: #3259a8;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.navbar-custom-bg {
  background-color: #3259a8;
}

.logo {
  width: 165px;
  height: auto;
  padding: 10px;
}

.navbar-links {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.navbar-link-item {
  color: white;
  font-size: 18pt;
  background: none;
  border: none;
  margin: 10px;
}

.navbar-link-item:hover {
  color: white;
  text-decoration: none;
}
