.Footer {
  background: black;
  padding-top: 50px;
  height: 150px;
}

.footer-link-container {
  margin: auto;
  padding: 20px;
  position: center;
  border-top: solid 2px white;

  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.footer-link-text {
  cursor: pointer;
  color: white;
}

.footer-link-text:hover {
  color: #00f;
  text-decoration: underline;
  text-decoration-color: #00f;
}
